<!DOCTYPE html>

<div class="form-container">


    <form action="/submit_name" method="POST">
        <div class="form-group new">
            <label>Password</label>
            <input type="password" name="password" class="form-control form-input" id="password">
            <label>Confirm Password</label>
            <input type="password" name="confirm" class="form-control form-input" id="confirm">
        </div>
        <button type="button" name="button" id="myButton">Button</button>
        <br>
    </form>


</div>
