body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /*background-color: #5b5970;
    color: white;*/
}

.form-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
}
